---
layout: page
---
<div class="blog-post text-container">
	{% include post-title.html post=page %}

	<div class="post-content">
		{{ content }}
		{% if page.abstract %}
			<h3>Abstract</h3>
			<p class="abstract">{{ page.abstract }}</p>
		{% endif %}
		{% if page.full-text %}
			<div class="button"><a href="{{ page.full-text }}" target="_blank">Read the paper</a></div>
		{% endif %}
		{% if page.mybinder %}
			<a href="{{ page.mybinder }}" target="_blank">
				<img class="mybinder" src="https://mybinder.org/badge_logo.svg"/>
			</a>
		{% endif %}

		<div class="blog-navigation">
			{% if page.next_in_category.url %}
				<a class="prev" href="{{ page.next_in_category.url | relative_url }}"><i class="fa fa-arrow-left"></i> {{ page.next_in_category.title }}</a>
			{% endif %}
			{% if page.previous_in_category.url %}
				<a class="next" href="{{ page.previous_in_category.url | relative_url }}">{{ page.previous_in_category.title }} <i class="fa fa-arrow-right"></i></a>
			{% endif %}
		</div>

	</div>
</div>

{% if page.code %}

	<div class="container notebook max-container">
		{% capture my_include %}{% include {{ page.code }} %}{% endcapture %}
		{{ my_include | markdownify }}
	</div>

	{% include juniper.html %}
{% endif %}
